# ignore the timeseries data (too big)
root/data/
root/intermediate_outputs/
root/backbone_reconstructions/
# cache
__pycache__/
# other potentially big files
*.npz
*.npy
*.csv
# ignore output trajectories from pymol
pymol_io/out/
root/.DS_Store


# LaTeX
LaTeX/*.aux
LaTeX/*.fdb_latexmk
LaTeX/*.fls
LaTeX/*.log
LaTeX/*.out
LaTeX/*.synctex.gz
LaTeX/*.pdf