# ignore the timeseries data (too big)
root/data/
root/intermediate_outputs/
root/backbone_reconstructions/
# cache
__pycache__/
# other potentially big files
*.npz
*.npy
*.csv
# ignore output trajectories from pymol
pymol_io/out/

# MacOS files
.DS_Store

# ignore all trajectory files
*.dcd
*.pdb

# ignore figures that are not in Latex

root/outputs_figures/
# LaTeX
LaTeX/*.aux
LaTeX/*.fdb_latexmk
LaTeX/*.fls
LaTeX/*.log
LaTeX/*.out
LaTeX/*.synctex.gz
LaTeX/*.pdf